<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Vagas Disponíveis</title>
</head>

<body class="bg-gray-900">

<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-start text-white">
            <div class="text-white space-x-4">
                <a href="/candidate/profile">Profile</a>
                <a href="/candidate/jobs" class="bg-gray-900 rounded-md px-3 py-2">Vagas</a>

            </div>

        </div>
    </div>
</nav>

<div class="container mx-auto mt-24 text-center">
    <form>
        <input type="text" name="filter" class="bg-gray-50 text-gray-500 rounded w-96 p-3
            focus:outline-none" placeholder="Busca de vaga"/>

        <button class="bg-green-600 hover:bg-green-500 text-white w-24 p-3 ml-2 rounded">Buscar</button>

        <button name="specification" th:value="data" class="bg-green-600 hover:bg-green-500 text-white w-24 p-3 ml-2 rounded">+ Recentes</button>
        <button name="specification" th:value="rating" class="bg-green-600 hover:bg-green-500 text-white w-24 p-3 ml-2 rounded">Melhores vagas</button>
    </form>


    <div class="max-w-md mx-auto mt-10">

        <form th:action="@{/candidate/jobs/apply}" method="post">
            <div th:each="job: ${jobs}" class="text-white bg-gray-800 rounded-lg p-4 mb-4 shadow-md text-justify">
                <input type="hidden" name="jobId" th:value="${job.id}">
                <input type="hidden" id="rating" name="rating" th:value="0">

                <h3 th:text="${job.description}" class="font-bold"></h3>
                <span th:text="${job.level}" class="block"></span>
                <span class="mt-4 block font-bold">Benefícios</span>
                <span th:text="${job.benefits}" class="block"></span>

                <h2 class="mt-4 text-sky-500 flex justify-center">Avalie o que achou da descrição da vaga!</h2>

                <script th:inline="javascript">
                    var jobId = /*[[${job.id}]]*/ null;
                    var rating = /*[[${job.id}]]*/ null;
                </script>

                <div class="flex justify-center pt-2">
                    <br/>
                    <br/>
                    <span onclick="avaliar(1, this.classList)" data-id="[[${job.id}]]" th:attr="class='star' + ${job.id}">★</span>
                    <span onclick="avaliar(2, this.classList)" data-id="[[${job.id}]]" th:attr="class='star' + ${job.id}">★</span>
                    <span onclick="avaliar(3, this.classList)" data-id="[[${job.id}]]" th:attr="class='star' + ${job.id}">★</span>
                    <span onclick="avaliar(4, this.classList)" data-id="[[${job.id}]]" th:attr="class='star' + ${job.id}">★</span>
                    <span onclick="avaliar(5, this.classList)" data-id="[[${job.id}]]" th:attr="class='star' + ${job.id}">★</span>
                </div>

                <script th:inline="javascript">
                    
                    function avaliar(num, id) {    
                        let className = Array.from(id).find(cls => cls.startsWith('star'));
                        let idReplace = className.replace('star', '');                
                        remove(idReplace);                    
                        let stars = document.getElementsByClassName("star" + idReplace);
                        for (let i = 0; i < num; i++) {
                            if (num == 1) cls = "one";
                            else if (num == 2) cls = "two";
                            else if (num == 3) cls = "three";
                            else if (num == 4) cls = "four";
                            else if (num == 5) cls = "five";

                            stars[i].className = "star" + idReplace + " " + cls;
                        }
                        
                        let ratingInput = document.getElementById("rating");

                        ratingInput.value = num;

                        let jobIdInput = document.querySelector('input[name="jobId"]');
                        if (jobIdInput) {
                            jobIdInput.value = idReplace;
                        }
                    }

                    function remove(id) {    
                        let stars = document.getElementsByClassName("star" + id);
                        for (let i = 0; i < 5; i++) {
                            stars[i].className = "star" + id;
                        }
                    }
                </script>

                <div class="grid justify-items-center">
                    <button
                        class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded mt-4">Aplicar
                    </button>
                    <p class="text-red-400" th:if="${error_message}" th:text="${error_message}"></p>
                </div>
            </div>
        </form>
    </div>


</div>
</body>

<style>
    span[class^="star"] {
      font-size: 5vh;
      cursor: pointer;
    }

    .one {
      color: rgb(255, 0, 0);
    }

    .two {
      color: rgb(255, 106, 0);
    }

    .three {
      color: rgb(251, 255, 120);
    }

    .four {
      color: rgb(255, 255, 0);
    }

    .five {
      color: rgb(24, 159, 14);
    }
</style>

</html>